:root {
    --var1: 
}

*{
    /*remove all default margin and padding*/
    margin: 0px;
    padding: 0px;
    font-family: 'Ephesis', cursive;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: rgb(16, 173, 16);
    font-size: 18px;
    opacity: 0.8;
}

/*DESIGNING HEADER*/

header{
    /*To occupy the complete width*/
    width: 100%;
    height: 140px;
}
.header-content{
    /*Allows the elements in header to align in the same row (h1,img,button,anchor)on the same line*/
    display: flex; 
    align-items: center;
}
.auth-buttons{
    margin-left: auto; /*makes buttons move to right corner*/

    /*To arange login and create account one below another using column flex*/
    display: flex; 
    flex-direction: column;
    align-items: center;

    /*to give a gap between login and create buttons*/
    margin-top: 10px;
    margin-right: 15px;
}
#logo{
    /*setting dimensions*/
    width: 195px;
    height: 140px;
}
h1{
    font-size: 50PX;
    color: black;
    padding: 0px 10px 0px 80px;
}
header button{
    height: 30px;
    width: 200px;
    background-color: orange;
    border: 0px;
    border-radius: 15px;
    font-weight: 900;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}

/*DESIGNING NAVGATION BAR*/
nav{
    /*to occupy complete screen*/
    width: 100%;
}
.nav-content{
    /*To arrange buttons in a same line*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(96, 158, 228);
}

nav button{
    /*Styles to buttons*/
    height: 30px;
    width: 150px;
    background-color: orange;
    border: 0px;
    border-radius: 15px;
    font-weight: 900;
    color: white;
    margin: 10px;
    font-size: 15px;
}
.home{
    /*Adding extra margin to move from left side of screen*/
    margin-left: 250px;
}



.help {
    margin-right: 250px;
}


/*CONTENT DESIGN*/
.content1{
    display: flex;
    min-height: 100vh;
    width: 100%;
}
#banner{
    width: 550px;
    height: 400px;
    padding: 50px 50px 0px 0px;
}
#text{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
    margin: 10px 20px 20px 20px;
   
}
#text h2{
    font-size: 40px;
     padding: 10px 20px 10px 20px;
     margin: 10px 20px 5px 20px;
}
#text h3{
    font-size: 20px;
    margin: 10px 200px 20px 20px;
    padding: 10px 20px 20px 20px;
    line-height: 26px;
    letter-spacing: 1px;
    
}
#text button{
    width: 250px;
    height: 35px;
    margin: 10px;
    margin-left: 80px;
    border: none;
    background-color: orange;
    border: 0px;
    border-radius: 15px;
    font-weight: 900;
    color: white;
    font-size: 15px;
}
